<h3>Yourtes artisanales sur mesure.</h3>
<p>
	Espaces de vie, de travail, de pratique, d’accueil ou de recueillement, je vous propose des yourtes sur mesure, belles, lumineuses, confortables, construites dans les règles de l’art et de la nature.
</p>
<p>
	Que votre projet soit modeste, perché ou extrême, n’hésitez pas à me contacter pour une étude ou un devis.
</p>
<p>
	Je propose également des stages d’apprentissage de construction de yourtes, et des accompagnement à l’autoconstruction.
</p>
<address>
	<span>Contact : Kevin Dancelme</span>
	<span>06 07 89 92 48</span>
	<span><a href="mailto:kevin.dancelme@gmail.com">kevin.dancelme@gmail.com</a></span>
</address